.DnD__Event{
    display: flex;
    flex-direction: row;
    background-image: url(https://i.imgur.com/SqrUFSn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    color: black;
}
.DnD__Event p {
    font-size: 2vw;
}