.DnD__GroupFinder{
grid-template-columns: 1fr 1fr;
    display: grid;
    transition: box-shadow 0.5s ease-in-out;
    background-image: url(https://i.imgur.com/1KZdfIV.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
	height: 20vw;
}

@media (max-width: 1200px) {
    .DnD__GroupFinder{
        	height: 30vw;
    }
}
@media (max-width: 900px) {
    .DnD__GroupFinder{
        	height: 60vw;
    }
}