.DnD{
    background-color: var(--main-palette-light-meetupAshWhite);
    color: var(--main-palette-light-meetupBrightWhite);
    text-shadow: 2px 3px 5px #bdbdbd;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
.DnD a:visited{
    color: var(--main-palette-mid-viridian);
}