.DnD{
    background-color: #fafafa;
    color: var(--main-palette-light-meetupBrightWhite);
    text-shadow: 2px 3px 5px #bdbdbd;
    width: 100%;
    height: 100%;
}
.DnD a:visited{
    color: var(--main-palette-mid-viridian);
}