.DnD__GroupView{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.DnD__GroupView img{
    height: 20vw;
    width: auto;
    border-radius: 8px;
}

.Dnd__GroupViewContent{
    display: flex;
    justify-content: center;
}