:root {
    /*Coolers Palette*/
    --main-palette-light-babyPowder: #FFFCF9;
    --main-palette-mid-ultraRed: #ff6978;
    --main-palette-mid-viridian: #3F826D;
    --main-palette-mid-glaucous: #6E7DAB;
    --main-palette-dark-blackCoffee: #352D39;

    /*Meetup Colors*/
    --main-palette-light-meetupBrightWhite: #e5e5e5;
    --main-palette-light-meetupAshWhite: #444444;
    --main-palette-dark-meetupBlack: #0f1721;
    --main-palette-dark-meetupBlue: #00455d;
    --main-palette-text-light-meetupGrey: #757575;

    --mainSplashUrl1: "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bad52dbc-4a14-4b61-9d28-bbc9c9c22be9/d8rvy5g-75f82093-7c04-4c2d-a136-946c00ed14a3.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2JhZDUyZGJjLTRhMTQtNGI2MS05ZDI4LWJiYzljOWMyMmJlOVwvZDhydnk1Zy03NWY4MjA5My03YzA0LTRjMmQtYTEzNi05NDZjMDBlZDE0YTMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Ffrpg_z_p8qXvzJ3suXg_lXk-2TAMY_7Ha5Es3pE0bE"
}

html, body {
    min-width: 600px;
    /*background-color: var(--main-palette-light-meetupAshWhite);*/
    margin: 0;
    height: 100%;
}




.DnD_Button--sign {
  /*  Original colors*/
  /*background: linear-gradient(rgba(88, 52, 36, 0.5), rgba(35, 19, 12, 0.5)),*/
  /*  radial-gradient(rgb(128, 84, 65), #23130c, black);*/
  background: linear-gradient(rgba(88, 52, 36, 0.5), rgba(35, 19, 12, 0.5)),
    radial-gradient(rgb(128, 84, 65), #844227, black);

  background-size: 10px 10px, 100% 100%;
  width: 200px;
  padding: 20px 0px;
  clip-path: polygon(0% 20%, 85% 15%, 100% 15%, 95% 82%, 0% 70%);
  /*clip-path: polygon(0 19%, 100% 0, 97% 53%, 9% 75%);*/

  -webkit-clip-path: polygon(0% 20%, 85% 15%, 100% 15%, 95% 82%, 0% 70%);
  margin: auto;
  color: transparent;
  font-size: 34px;
  text-align: center;
  font-family: "Indie Flower", cursive;
  text-shadow: 0px 0px 2px #23130c, 0px 0px 1px black;
  border-radius: 35px;
  backface-visibility: hidden;
}

.DnD_Button--sign:hover {
    text-shadow: 0px 0px 2px #ffffff, 1px 1px 1px #131313;
    color: darkgoldenrod;
}

.DnD_Button--sign {
  cursor: pointer;
  transition: 0.5s;
}
.fx1 {
  transform: rotate(-10deg);
}

.fx1:hover {
  transform: rotate(10deg);
}
.fx2 {
  transform: rotate(7deg);
}

.fx2:hover {
  transform: rotate(-5deg);
}
.fx3 {
  transform: rotate(4deg);
}

.fx3:hover {
  transform: rotate(-3deg);
}
.fx4 {
  transform: rotate(-7deg);
}

.fx4:hover {
  transform: rotate(1deg);
}