.DnD__DeleteMessageForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DnD__DeleteMessageForm--ButtonWrapper{
    display: flex;
}

.DnD__DeleteMessageForm p {
    padding-left: 55px;
    padding-right: 55px;
}

