.DnD__Background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d297121a-919b-4f18-9163-78f08879b333/d5313im-100b08cc-30d2-4bc3-ae90-cf6e9c04bd9c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2QyOTcxMjFhLTkxOWItNGYxOC05MTYzLTc4ZjA4ODc5YjMzM1wvZDUzMTNpbS0xMDBiMDhjYy0zMGQyLTRiYzMtYWU5MC1jZjZlOWMwNGJkOWMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.aaL_gdQOu2kK8q7V7riJkHECeIcw8prAJt-j17VR-Ww ");
    /*background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0c6e0590-011b-4912-bfe4-9353b6e5dc98/ddgj924-27954d13-1028-4eca-b1c7-114edfbd1ba3.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBjNmUwNTkwLTAxMWItNDkxMi1iZmU0LTkzNTNiNmU1ZGM5OFwvZGRnajkyNC0yNzk1NGQxMy0xMDI4LTRlY2EtYjFjNy0xMTRlZGZiZDFiYTMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.oG_Ww_fGrcCkWNLnnZan_jIyAlWtjlbEZZB2qgFkv3g");*/

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    z-index: -1;
}

.DnD__Home{

}

.DnD_GroupWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
@media (max-width: 1200px) {
    .DnD_GroupWrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 900px) {
    .DnD_GroupWrapper{
        grid-template-columns: 1fr;
    }
}