.DnD__EditEventForm{
}

.DnD__EditEventForm form  {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.DnD__EditEventForm form button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}