.DnD__SplashBar--Splash{
    background-image: url("https://i.imgur.com/hrPMjjS.png");
    z-index: -10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 20vw;
}
.DnD__SplashBar--Title{
    align-self: center;
}
.DnD__SplashBar--Title h1 {
    font-size: 3vw;
    margin-top: 40px;
    margin-bottom: 5px;
}
.DnD__SplashBar--subTitle{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.DnD__SplashBar--subTitle p{
    font-size: 2vw;
    margin:0;
}

.DnD__SplashBar--Options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vw;
}
.DnD__SplashBar--Options button{
    color: var(--main-palette-light-meetupBrightWhite);
    text-shadow: 2px 3px 5px #bdbdbd;
    width: 160px;
    height: 40px;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
}