.DnD__CreateNewGroupForm{
}

.DnD__CreateNewGroupForm form  {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.DnD__CreateNewGroupForm form button {
    width: 140px;
    height: 60px;
    margin-top: 10px;
}