.DnD__Navbar{
    background-color: rgb(92, 92, 92);
    height: 70px;

}
.DnD__Navbar ul{
    margin: 0;
    display: flex;
}
.DnD__Navbar--ul{
    padding: 0;
    justify-content: center;
    align-items: center;
}
.DnD__Navbar--ul li{
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}
.DnD__Navbar button{
    width: 160px;
    height: 40px;
    color: #ffffff;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
}





/*Glow animation inspired by codepen from Felix Rilling*/
/*https://codepen.io/FelixRilling/pen/qzfoc*/
.glow {
  text-align: center;
}

.glow button {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Audiowide;
}

.glow button:hover {
  animation: neon5 1.5s ease-in-out infinite alternate;
}

.glow a:hover {
  color: #ffffff;
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #e7e7e7, 0 0 20px #d7d7d7, 0 0 30px #d4d4d4, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #e7e7e7, 0 0 10px #d7d7d7, 0 0 15px #d4d4d4, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}




.glow-dark {
  text-align: center;
}

.glow-dark button {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-family: Audiowide;
}

.glow-dark button:hover {
  animation: neon5-dark 1.5s ease-in-out infinite alternate;
}

.glow-dark a:hover {
  color: #ffffff;
}

@keyframes neon5-dark {
  from {
    text-shadow: 0 0 10px #e7e7e7, 0 0 20px #d7d7d7, 0 0 30px #d4d4d4, 0 0 40px #ff3c00, 0 0 70px #ff3c00, 0 0 80px #ff3c00, 0 0 100px #ff3c00, 0 0 150px #ff3c00;
  }
  to {
    text-shadow: 0 0 5px #e7e7e7, 0 0 10px #d7d7d7, 0 0 15px #d4d4d4, 0 0 20px #ff3c00, 0 0 35px #ff3c00, 0 0 40px #ff3c00, 0 0 50px #ff3c00, 0 0 75px #ff3c00;
  }
}