
.DnD__LoginFormModal--errors{
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.DnD__LoginForm{
    margin-top: 100px;
    display: flex;
    gap: 5rem;
    flex-direction: column;
    align-items: center;
}

.DnD__LoginForm--ButtonWrapper{
    display: flex;
}

.DnD__LoginFormModal--ButtonGroup{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vw;
}
.DnD__LoginFormModal--ButtonGroup label{
    margin-right: 10px;
}
.DnD__LoginFormModal--ButtonGroup input{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba(78, 78, 78, 0.58);
    color: black;
}
.DnD__LoginFormModal--ButtonGroup input::placeholder{
    color: black;
    opacity: .5;
}
.DnD__LoginFormModal--ButtonGroup input:focus{
    background: rgba(255, 255, 255, 0.3);
}

.DnD__LoginForm p {
}

.DnD__LoginForm button {
    width: 4vw;
    height: 2vh;
    background-image: url("https://i.imgur.com/SqrUFSn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
}

/*
//=====================================================================\\
||=====================================================================||
This awesome codepen of a glowing button was adapted for my site.
Please check out the original by Kocsten and give them a like!
https://codepen.io/kocsten/pen/rggjXp?editors=0100
https://codepen.io/kocsten
||=====================================================================||
\\=====================================================================//
*/
.DnD__glow-on-hover {
    width: 110px;
    height: 25px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: #ffffff;
    text-shadow: 2px 3px 5px #000000;
    background: transparent;
    /*background: #adadad;*/
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 10px auto;
}

.DnD__glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #c27205,
    #ff7300,
    #ff8825,
    #ff7d5d,
    #c27205,
    #ff7300,
    #ffcf37,
    #f5ca0f,
    #c27205
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    border: none;
    outline: none;
}

.DnD__glow-on-hover:active {
  color: #1d1d1d;
}

.DnD__glow-on-hover:active:after {
  background: transparent;
}

.DnD__glow-on-hover:hover:before {
  opacity: 1;
}

.DnD__glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
    border-radius: 10px;
    border: none;
    outline: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


