.DnD__GroupCard{
    /*background-color: var(--main-palette-mid-ultraRed);*/
    background-image: url("https://i.imgur.com/8qHiKh0.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.2s ease-in-out, border 0.3s ease-in-out;
    justify-content: center;
    overflow-wrap: break-word;
}
.DnD__GroupCard:hover{
    /*background: rgb(127, 31, 48);*/
    box-shadow: 0 8px 32px 0 rgb(255, 255, 255);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
}
.DnD__GroupCard h1{
    font-size: 3vw;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.DnD__GroupCard h2{
    margin-top: 0;

    margin-bottom: 10px;
    font-size: 2vw;
}
.DnD__GroupCard h3{
    margin-top: 10px;

    margin-bottom: 10px;
    font-size: 2vw;
}
.DnD__GroupCard h4{
    margin-top: 0;

    margin-bottom: 10px;
    font-size: 1.5vw;
}
.DnD__GroupCard h5{
    margin-top: 0;

    margin-bottom: 10px;
    font-size: 1.4vw;
}
.DnD__GroupCard img{
    max-width: 100px;
    margin: 0 auto;
}
#DnD__DeleteGroupForm--DeleteButton{
    width: 50px;
    height: 50px;
    background: url("https://i.imgur.com/qNKwgWP.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    top: -10%;
    left: 70%;
    border: 1px solid rgba(139, 0, 0, 0);
    border-radius: 50px;
    box-shadow: none;
    transition: border 0.1s ease-in-out,  box-shadow 0.1s ease-in-out;
}
#DnD__DeleteGroupForm--DeleteButton:hover {
    border: 1px solid darkred;
    border-radius: 50px;
    box-shadow: 5px 5px 15px 5px #000000;
}
#DnD__DeleteGroupForm--EditButton{
    width: 50px;
    height: 50px;
    background: url("https://i.imgur.com/skiZWic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    top: -10%;
    left: 70%;
    border: 1px solid rgba(139, 0, 0, 0);
    border-radius: 50px;
    box-shadow: none;
    transition: border 0.1s ease-in-out,  box-shadow 0.1s ease-in-out;
}
#DnD__DeleteGroupForm--EditButton:hover{
    border: 1px solid darkred;
    border-radius: 50px;
    box-shadow: 5px 5px 15px 5px #000000;
}
/*To keep text in bounds*/
@media (min-width: 900px) {
.DnD__GroupCard h1{
    font-size: 3vw;
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 10px;
}
}